<!DOCTYPE html>
<html>
	<head>
		<title>Kaha.co : Rebuild Nepal</title>
		<% if (PROD) { %>
			<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<% } else { %>
			<link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
		<% } %>
        <script type="text/javascript">
          WebFontConfig = {
            google: { families: [ 'Raleway:500,700,300:latin' ] }
          };
          (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })();
        </script>    
        <style>
            * {
                font-family: 'Raleway', sans-serif;
            }
        </style>
	</head>
	<body>

		<section id="content"> <%= content %> </section>

		<% if (PROD) { %>
		<script type="text/javascript" src="/build/js/bundle.min.js" async></script>
		<% } else { %>
			<script type="text/javascript" src="/build/js/bundle.js" async></script>
		<% } %>
	</body>
</html>
