<!DOCTYPE html>
<html>
	<head>
		<title>Rebuild Nepal</title>
		<% if (PROD) { %>
			<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
			<link href="/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
		<% } else { %>
			<link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
			<link href="/assets/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
		<% } %>
	</head>
	<body>

		<section id="content"> <%= content %> </section>

		<% if (PROD) { %>
		<script type="text/javascript" src="/build/js/bundle.min.js" async></script>
		<% } else { %>
			<script type="text/javascript" src="/build/js/bundle.js" async></script>
		<% } %>

	</body>
</html>
